.contact-section {
    background-color: #2e7d32; /* Fundo verde */
    padding: 20px;
    border-radius: 10px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #1b5e20;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .submit-button:hover {
    background-color: #ffcc00;
    color: #2e7d32;
    transform: scale(1.05);
  }
  